<% if cookies['consented'] != 'true' %>
  <div class="cookies_eu">
    <span><%= t('cookies_eu.span_text') %></span>
    <button class="cookies_eu_ok"> <%= t('cookies_eu.ok') %> </button>
    <a href="<%= link %>"> <%= t('cookies_eu.learn_more') %> </a>
  </div>
<% end %>